.calculate .bubble {
  position: relative;
  padding: 1em;
  width: auto;
  border-radius: 12px;
  border: 4px solid #eee;
  background-color: white;
  font-size: 2vw;
  font-family: var(--font-family);
}
