.calculate .bubble {
  position: relative;
  padding: 3.5vw 3vw 1vw 3vw;
  width: 32vw;
  border-radius: 12px;
  border: 0.5vw solid #eee;
  background-color: white;
  font-size: 2vw;
  font-family: var(--font-family);
  text-align: justify;
}

.analogy .bubble:before,
.analogy .bubble:after {
  right: 18vw;
  bottom: 32.5vw;
  border: solid 2vw transparent;
  border-top: 0;
  border-bottom-color: #fff;
  z-index: 0;
}

.analogy .bubble::before {
  right: 18vw;
  bottom: 33vw;
  border: solid 2vw transparent;
  border-bottom-color: #eee;
  z-index: -1;
}
