.panel {
  grid-area: panel;
  margin-left: 2vw;
}

.analogy {
  grid-area: analogy;
}

.calculate {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: 'buttons subkraki_small' 'panel analogy';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vw auto;
  align-items: center;
}

.calculate .Speech {
  width: 100%;
}

.calculate .testimonial {
  padding: 0 1.5vw 0 3.5vw;
  width: 40vw;
}

.calculate .SpeechbubbleControls {
  grid-template-rows: 36.5vw 10vw;
}

.calculate .CloseSpeech {
  margin-top: 2vw;
}

.calculate > .Subkraki {
  grid-area: analogy;
  margin: auto;
}

.calculate > .Subkraki > img {
  height: 30vw;
}

.Subkraki_small {
  grid-area: subkraki_small;
  text-align: center;
}

.Subkraki_small > img {
  height: 8vw;
  margin-top: 1vw;
}

.buttonContainer {
  width: auto;
  height: 12vw;
  grid-area: buttons;
  display: grid;
  grid-template-areas: 'ownButton randomButton ';
  align-items: center;
  margin-left: 6vw;
}

.randomExerciseButton {
  background-color: var(--primary-lila);
  color: var(--light-blue);
  font-size: 2vw;
  border-style: none;
  width: 20vw;
  height: 5vw;
  font-weight: bold;
  border-radius: 10px;
}
.ownExerciseButton {
  background-color: var(--primary-lila);
  color: var(--light-blue);
  font-size: 2vw;
  border-style: none;
  width: 20vw;
  height: 5vw;
  font-weight: bold;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .calculate .bubble {
    padding-top: 4vw;
  }

  .calculate .CloseSpeech {
    width: 7vw;
    height: 7vw;
    left: -7vw;
  }
}
