.clickableNumber {
  border: 0.4vw solid var(--primary-lila);
}

.X {
  position: relative;
  color: var(--primary-lila);
  top: -6.6vw;
  left: 0.95vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.2vw;
  opacity: 0.8;
}
.analogy .clickableNumber {
  border: 0.2vw solid var(--primary-lila);
}

.analogy .X {
  position: relative;
  color: var(--primary-lila);
  top: -3.3vw;
  left: 0.475vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.1vw;
  opacity: 0.8;
}
