.buttonClose {
  background-color: transparent;
  border: none !important;
}

.CloseSpeech {
  z-index: 2;
  width: 5vw;
  height: 5vw;
  position: relative;
  left: -5.2vw;
  top: 0.5vw;
  grid-area: close;
}
