.inputOwnEx {
  position: relative;
  width: 70%;
  grid-area: bubble;
  margin: auto;
  display: grid;
  grid-template-areas: 'inputExercise close';
}

.inputOwnExBubble {
  font-family: var(--font-family);
  position: relative;
  grid-area: inputExercise;
  padding: 3vw;
  width: 45vw;
  height: 40vw;
  border-radius: 12px;
  border: 4px solid #eee;
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-areas:
    'textOwnEx textOwnEx'
    'obereZahl obereInput'
    'untereZahl untereInput'
    'errorText errorText'
    'losButton losButton';
  grid-template-rows: 15vw 7vw 7vw 7vw 6vw;
}

.ownExText {
  grid-area: textOwnEx;
  text-align: center;
  font-size: 3vw;
}
.obereZahlText {
  grid-area: obereZahl;
  text-align: right;
  font-size: 3vw;
}
.obereZahlInput {
  grid-area: obereInput;
}
.untereZahlText {
  grid-area: untereZahl;
  text-align: right;
  font-size: 3vw;
}
.untereZahlInput {
  grid-area: untereInput;
}

.errorText {
  grid-area: errorText;
  text-align: center;
  font-size: 2.5vw;
  color: var(--error-pink);
}

.inputOwnExBubble p {
  position: relative;
  z-index: 2;
}
.inputOwnExBubble p:last-child {
  margin-bottom: 0;
}

.inputOwnExBubble:before,
.inputOwnExBubble:after {
  display: block;
  position: absolute;
  right: 4em;
  bottom: -18px;
  width: 0;
  height: 0;
  content: '\0020';
  border: solid 20px transparent;
  border-bottom: 0;
  border-top-color: #fff;
  overflow: hidden;
  z-index: 2;
}
.inputOwnExBubble:before {
  bottom: -24px;
  border-top-color: #eee;
  z-index: 1;
}

.obereZahlInput,
.untereZahlInput {
  display: block;
  margin: 0vw auto;
  border: none;
  padding: 0;
  width: 4.5ch;
  background: repeating-linear-gradient(
      90deg,
      black 0,
      black 1ch,
      transparent 0,
      transparent 1.5ch
    )
    0 100%/ 4ch 2px no-repeat;

  font: 3.5vw droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}
.obereZahlInput:focus,
.untereZahlInput:focus {
  outline: none;
  color: var(--light-blue);
}

.eigeneAufgabeSubmit {
  background-color: var(--primary-lila);
  color: var(--light-blue);
  border: none;
  text-decoration: none;
  border-radius: 4%/12%;
  font-size: 5vw;
  width: 20vw;
  grid-area: losButton;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .inputOwnEx > .CloseSpeech {
    width: 8vw;
    height: 8vw;
    left: -8vw;
  }
}
