.ownEx {
  display: grid;
  grid-template-areas:
    'bubble subkraki'
    'bubble subkraki';
  grid-template-columns: 2fr 1fr;
  padding-top: 4vw;
}

.ownEx .CloseSpeech {
  left: -5.1vw;
}

.ownEx > .Subkraki {
  grid-area: subkraki;
  margin: auto;
}

.ownEx > .Subkraki > img {
  height: 30vw;
}
