.ownEx {
  display: grid;
  grid-template-areas:
    'bubble subkraki'
    'bubble subkraki';
  grid-template-columns: 2fr 1fr;
  margin-top: 4vw;
}
.ownEx > .CloseSpeech {
  z-index: 2;
  width: 5vw;
  height: 5vw;
  position: relative;
  left: 0vw;
  top: 0.5vw;
  grid-area: close;
}
.ownEx > .Subkraki {
  grid-area: subkraki;
  margin: auto;
}

.ownEx > .Subkraki > img {
  height: 30vw;
}
