.testimonial {
  position: relative;
  margin: 4em auto 3em;
  width: 70%;
  display: grid;
  grid-template-areas:
    'bubble close'
    'bubble  .';
}

.welcome .bubble {
  position: relative;
  padding: 2em;
  width: auto;
  border-radius: 12px;
  border: 4px solid #eee;
  background-color: white;
  font-size: 4vw;
  font-family: var(--font-family);
  text-align: center;
}
.bubble p {
  position: relative;
  z-index: 2;
}
.bubble p:last-child {
  margin-bottom: 0;
}

.bubble:before,
.bubble:after {
  display: block;
  position: absolute;
  right: 4em;
  bottom: -18px;
  width: 0;
  height: 0;
  content: '\0020';
  border: solid 20px transparent;
  border-bottom: 0;
  border-top-color: #fff;
  overflow: hidden;
  z-index: 2;
}
.bubble:before {
  bottom: -24px;
  border-top-color: #eee;
  z-index: 1;
}

.welcome .bubbleText {
  height: 15vw;
  font-size: 3.3vw;
}

@media only screen and (max-width: 500px) {
  .welcome .bubbleText {
    font-size: 3vw;
  }

  .welcome .bubble {
    padding-top: 3.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .welcome .CloseSpeech {
    width: 8vw;
    height: 8vw;
    left: -8vw;
  }
}
