.Speech p {
  /* // layout */
  position: relative;
  max-width: 30em;

  /* // looks */
  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Speech p::before {
  /* // layout */
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%; /* offset should move with padding of parent */
  border: 0.75rem solid transparent;
  border-top: none;

  /* // looks */
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  display: block;
  margin-left: auto;
  margin-right: auto;
}
