.panel {
  padding: 1vw;
  width: 50vw;
  height: 38vw;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel > .grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto 0fr auto;
  grid-column-gap: 0.5vw;
  grid-row-gap: 1.5vw;
  grid-template-areas:
    '. correction0 correction1 correction2 . . .'
    '. minuendA minuendB minuendC . . .'
    'minus subtrahendA subtrahendB subtrahendC . . .'
    'line line line line line . .'
    '. resultA resultB resultC . check refresh'
    'error error error error error error error';
}

.line {
  border-top: 0.5vw solid var(--primary-lila);
  grid-area: line;
}

.minus {
  font-size: 5vw;
  text-align: center;
  grid-area: minus;
}

.panelControls {
  background-color: var(--primary-lila);
  border: none;
  border-radius: 10%;
}

.correction0 {
  grid-area: correction0;
}

.correction1 {
  grid-area: correction1;
}

.correction2 {
  grid-area: correction2;
}

.subtrahend0 {
  grid-area: subtrahendA;
}

.subtrahend1 {
  grid-area: subtrahendB;
}
.subtrahend2 {
  grid-area: subtrahendC;
}
.minuend0 {
  grid-area: minuendA;
  width: 6vw;
  height: 6vw;
}
.minuend1 {
  grid-area: minuendB;
  width: 6vw;
  height: 6vw;
}
.minuend2 {
  grid-area: minuendC;
  width: 6vw;
  height: 6vw;
}
.result0 {
  grid-area: resultA;
}
.result1 {
  grid-area: resultB;
}
.result2 {
  grid-area: resultC;
}
.check {
  grid-area: check;
}
.refresh {
  grid-area: refresh;
}
.errorMessage {
  grid-area: error;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--error-pink);
  font-size: 1.5vw;
  margin-top: 2vw;
}

.highlighted {
  background: var(--highlight) !important;
}

.analogy .panel {
  width: 25vw;
  height: 17vw;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  align-content: center;
}
.analogy .panel > .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 0fr auto;
  grid-column-gap: 0.25vw;
  grid-row-gap: 0.7vw;
  grid-template-areas:
    '. correction0 correction1 correction2'
    '. minuendA minuendB minuendC'
    'minus subtrahendA subtrahendB subtrahendC'
    'line line line line'
    '. resultA resultB resultC';
}
.analogy .line {
  border-top: 0.25vw solid var(--primary-lila);
  grid-area: line;
}

.analogy .minus {
  font-size: 2.5vw;
  text-align: center;
  grid-area: minus;
}

.analogy .panelControls {
  background-color: var(--primary-lila);
  border: none;
  border-radius: 10%;
}

.analogy .correction0 {
  grid-area: correction0;
}

.analogy .correction1 {
  grid-area: correction1;
}

.analogy .correction2 {
  grid-area: correction2;
}

.analogy .subtrahend0 {
  grid-area: subtrahendA;
}

.analogy .subtrahend1 {
  grid-area: subtrahendB;
}
.analogy .subtrahend2 {
  grid-area: subtrahendC;
}
.analogy .minuend0 {
  grid-area: minuendA;
  width: 3vw;
  height: 3vw;
}
.analogy .minuend1 {
  grid-area: minuendB;
  width: 3vw;
  height: 3vw;
}
.analogy .minuend2 {
  grid-area: minuendC;
  width: 3vw;
  height: 3vw;
}
.analogy .result0 {
  grid-area: resultA;
}
.analogy .result1 {
  grid-area: resultB;
}
.analogy .result2 {
  grid-area: resultC;
}
